body {
    background-color: rgb(222, 222, 222);
}

h1 {
    color: rgb(255, 166, 0);
    text-align: center;
}

.titulo {
    color: black;
}

.botao {
    background-color: orange;
    color: rgb(0, 0, 0);
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 8px;
    display: inline-block;
}